In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

**Предположим, что на самом деле цена машины определяется из мощности двигателя, расхода топлива и объема салона в куб. метрах  
с соответствующими весами. Но существует известное заблуждение, что дизайн тоже оказывает какое-то серьезное влияние.  
Попробуем сначала создать датасет, а потом обучить модель и посмотрим удасться ли ей выявить данное заблуждение.  
Цена в тыс. рублей, мощность в лошадиных силах, объем салона в куб. метрах, расход в литрах на 100 километров.
Дизайн задается экспертной оценкой от 0 до 100 (в нашем случае все машины хорошие и получилось от 50 до 100)**

In [3]:
n_samples = 300
power = np.random.choice(510,n_samples)+40
consumption = np.random.choice(46,n_samples)+4
volume_salon = np.random.choice(4,n_samples)+1

In [7]:
price = power*10-consumption*3+volume_salon*5

In [8]:
good_looking = np.random.choice(50,n_samples)+50

In [11]:
data = pd.DataFrame({'power': power, 'consumption': consumption, 'volume_salon': volume_salon, 'good_looking': good_looking, 'price': price})

In [12]:
data.head()

   power  consumption  volume_salon  good_looking  price
0    193           24             2            82   1868
1    354           18             2            64   3496
2    187           53             3            81   1726
3    476           37             1            81   4654
4     78           11             3            94    762

**Можно приступать к обучению модели**

In [25]:
X = data[['power', 'consumption', 'volume_salon', 'good_looking']]
y = data['price']

Выделили признаки и результат

In [27]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

Разбили на набор для обучения и набор для тестирования

In [35]:
reg = LinearRegression().fit(X_train,y_train)
reg.coef_

array([ 1.00000000e+01, -3.00000000e+00,  5.00000000e+00,  1.70744765e-15])

Обучили и как видим получилось неплохо

In [33]:
pred_values = reg.predict(X_test)

Проверили на тестовых данных

In [ ]:
from sklearn.metrics import mean_absolute_error

In [34]:
mean_absolute_error(pred_values,y_test)

4.2064129956997933e-13

**Ошибка ничтожна**